.button{
    display: inline-block;
    min-width: 180px;
    padding: 15px 10px;
    background-color: #ed1c24;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: background-color .25s;
    padding-right: .25s;

}
.button:hover{
    background-color: #e4575d;
    padding-right: 35px;
}

.button::after{
    content: '\f178';
    position: absolute;
    top: 50%;
    transform: translate(-17px, -50%);
    display: inline-block;
    font-family: 'FontAwesome';
    font-weight: 100;
    opacity: 0;
    transition: transform .25s;
    opacity: .25s;
}

.button:hover::after{
    transform: translate(5px, -50%);
    opacity: 1;
}